
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial';
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
   .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 1200px;
      margin: 0 auto;
    }
    
    .navbar .logo {
      color: #fff;
      font-weight: 600;
      font-size: 2.1rem;
      text-decoration: none;
    }
    
    .navbar .logo span {
      color: #C06B3E;
    }
    
    .navbar .menu-links {
      display: flex;
      list-style: none;
      gap: 35px;
    }
    
    .navbar a {
      color: #fff;
      text-decoration: none;
      transition: 0.2s ease;
    }
    
    .navbar a:hover {
      color: #C06B3E;
    }
    
    .hero-section {
      height: 100vh;
      background-image: url("about.jpeg");
      background-position: center;
      background-size: cover;
      display: flex;
      align-items: center;
      padding: 0 20px;
    }
    
    .hero-section .content {
      max-width: 1200px;
      margin: 0 auto;
      width: 100%;
      color: #fff;
    }
    
    .hero-section .content h2 {
      font-size: 3rem;
      max-width: 600px;
      line-height: 70px;
      color: orange;
    }
    
    .hero-section .content p {
      font-weight: 300;
      max-width: 600px;
      margin-top: 15px;
    }
    
  
    
    @media (max-width: 768px) {
      header {
        padding: 10px;
      }
    
      header.show-mobile-menu::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
      }
    
      .navbar .logo {
        font-size: 1.7rem;
      }
    
      .navbar .menu-links {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100vh;
        background: #fff;
        flex-direction: column;
        padding: 70px 40px 0;
        transition: left 0.2s ease;
      }
  
    
      .navbar a {
        color: #000;
      }
    
      .hero-section .content {
        text-align: center;
      }
    
      .hero-section .content h2 {
        font-size: 2.3rem;
        line-height: 60px;   
      }
    }
    .read-more{
        color: #fff;
        padding:10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }